* {
	margin: 0;
}

body {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #486591;
}

.content {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 16px;

	font-family: Arial, sans-serif;
	color: #d6e6f3;
	text-align: center;
}

.title {
	font-size: 40px;
}

.description {
	margin: 32px 0 48px;
}

.description__tag {
	font-size: 24px;
	margin-bottom: 8px;
}

.description__locations {
	font-size: 20px;
}